node_modules
.env
.vscode
.idea
.DS_Store
dist
build
coverage
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml
.env.local
.env.*.local
.env.development
.env.test
.env.production
vercel.json
vercel.png
.output
.cache
.temp
.temp/
*.tmp
*.backup
*.bak
*.swp
